.left{
    display: inline-block;
    padding-left: 20px;
    cursor: pointer;
    font-weight: lighter;
    color: #FFFFFF;
    font-style: italic;
}

.right{
    display: inline-block;
    padding-right: 40px;
    cursor: pointer;
    font-weight: lighter;
    color: #FFFFFF;
    font-style: italic;
}

.search{
    font-weight: lighter;
    display: inline-block;
    margin-top: 20px;
    height: 35px;
    width: 30%;
    max-width: 300px;
    min-width: 200px;
    padding-top: 2px;
    font-size:16px;
    background-image: url(../public/SearchIcon.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 7%;

}

.search::placeholder {
    font-style: italic;
    font-size: 18px;
}

.desktop-icon{
    display: inline-block;
    position: absolute;
    padding-left: 20px;
    cursor: pointer;
    font-weight: lighter;
    width: 45px;
    height: 45px;
    margin-right: 20px;
    margin-top: 15px;
}

.left:hover {
    font-weight: 550;
}

.right:hover {
    font-weight: 550;
}

.color {
    background-color: #441C1C;
    min-width: 160px;
}


@media (max-width: 768px) {
    .right{
        display: inline-block;
        padding-right: 40px;
        cursor: pointer;
        font-weight: lighter;
        color: #FFFFFF;
        font-style: italic;
        margin-left:50%;
    }
}

/*CSS for Media Query: Mobile */

.totality {
    min-width: 160px;
    height: 100vh;
}

.mobile-icon{
    position: absolute;
    top: 6px;
    width: 48px;
    height: 48px;
}

.menu-pop-in {
    height: 42px;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    top: 14px;
    left: 0;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.search-icon {
    height: 42px;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    top: 14px;
    margin-left: max(calc(94% - 32px),calc(145px - 32px));
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.break {
    flex-basis: 100%;
    height: 1;
  }

.center-info-box {
    display: block;
    /*flex-wrap: wrap;*/
    background-color: #F4F4F2;;
    min-height: 450px;
    height: 88%;
    width: 92%;
    margin: auto;
    overflow: scroll;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.per-book-box {
    display: block;
    /*flex-wrap: wrap;*/
    background-color: #FFFFFF;
    margin:auto;
    margin-top: 15px;
    width: 309px;
    height: 174px;
}