.stuff {
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 80%;
    height: 100%;
    /*min-height: 100%;*/
    max-width: 550px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: 12%;
}

.Sign {
    position: relative;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}

.form {
    position: relative;
    text-align: center;
    min-height: 500px;
    top: 30px;
}

.login {
    text-align: center;
}