.title {
    font-weight: 400;
    font-size: 40px;
    margin-left: 31px;
    margin-top: 16px;
    display: inline;
    position:absolute;
}

.add {
    display: inline;
    margin-left: 80%;
    margin-top: 23px;
    cursor: pointer;
}